{% extends "bootstrap/base.html" %}

{% block title %}MySQL{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href={{url_for('read')}}>读取数据</a>
            <a class="navbar-brand" href={{url_for('write')}}>写入数据</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>简单的数据库读写web界面</h1>
        <h1>所有的数据库为：{{databse}}</h1>
        <h1>当前的数据库为：pikachu</h1>
        <h1>当前数据库下的表为：{{table}}</h1>
    </div>
</div>
{% endblock %}
