<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>写入数据</title>
</head>
<body>
<li><a href={{url_for('index')}}>返回主页</a></li>
<li><a href={{url_for('read')}}>读取数据</a></li>
<form method="post">
    {{form.hidden_tag()}}
    {{form.sql.label}} {{form.sql()}}
    {{form.submit()}}
</form>
{% block content %}
<div class="container">
    <div class="page-header">
        <h3>执行结果为：</h3>
        <h3>{{status}}</h3>
    </div>
</div>
{% endblock %}
</body>
</html>